* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #14EFFF;
}

header {
    display: flex;
    background-color: #202020;
    justify-content: space-between;
}

header h2 {
    font-family: 'Chewy', cursive;
    font-size: 30px;
    padding: 10px;
}

.controls {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    background-color: #202020;
}

.pen-color-control, .background-color-control {
    display: flex;
    gap: 8px;
    padding: 11px;
    align-items: center;
    justify-content: space-around;
}

input[type=color] {
    border: none;
    width: 90px;
    height: 50px;
}

input[type=button] {
    font-size: 18px;
    width: 300px;
    height: 50px;
    margin: 12px 11px;
    color: #14EFFF;
    border: 1px solid #14EFFF;
    background-color: #202020;
}

#on {
    background-color: #14EFFF;
    color: #202020;
}

.controls p {
    font-size: 18px;
    margin: 20px 0;
    width: 300px;
}

input[type=range] {
    width: 300px;
    margin: 12px 11px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    background-color: #202020;
    padding: 12px;
}

.bar {
    background-color: #14EFFF;
    height: 5px;
    width: 40px;
    margin: 3px 0;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  margin: 100px auto;
  border: 15px solid #202020;
  background-color: #FFF;
}

.row-div {
    display: flex;
}

.grid-squares {
    border: 0.5px solid #202020;
}

@media (min-width: 1000px) {

    header {
        display: flex;
        justify-content: center;
    }
    
    .controls p {
        font-size: 18px;
        margin: 10px 0;
        width: 300px;
    }

    .menu-toggle {
        display: none;
    }

    .controls {
        padding: 15px;
        display: flex;
        margin-top: 50px;
        width: 300px;
        height: fit-content;
    }

    input[type=range] {
        width: 250px;
        margin: 8px;
    }

    .grid-container {
        margin-top: 50px;
        width: 800px;
    }

    .sketch-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    input[type=button] {
        font-size: 18px;
        width: 250px;
        height: 30px;
        margin: 12px 11px;
    }

    input[type=color] {
        border: none;
        width: 90px;
        height: 30px;
    }
    
}
  
